body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fa-github {
  color: #F4B400;
}
.fa {
  font-size: 1em !important;
  text-align: center;
  text-decoration: none !important;
  margin: 5px 2px;
  }

  .fa:hover {
    opacity: 0.7;
    color: #f4b300c8;
}

.spinner-border {
  margin: 0px 10px;
}

.resultDiv {
  overflow-y: auto;
}

.homeDiv {
  text-align: center;
}

h1 {
  font-size: 3em !important;
}

.searchInp {
  width: 65% !important;
  display: inline !important;
}

.boost {
  width: 35% !important;
  display: inline !important;
}

.numResults {
  width: 35% !important;
  display: inline !important;
}

.form-control {
  border-radius: 1rem !important;
}
button {
  border-radius: 1rem !important;
}
